<div class="container" *ngIf="processService.isFilled() && processService.getShowProcesses()">
    <h2>Se muestra {{processService.getProcess().name}}</h2>

    <div *ngIf="processService.getRecurrentProcess().length === 0" class="row">
        <div *ngFor="let proceso of processService.getProcess().processList; let i = index">
            <div class="col">
                <app-botones [name]="proceso.name" [isLast]=" i === processService.getProcess().processList.length-1">
                </app-botones>
            </div>
        </div>
    </div>
    <div *ngIf="processService.getRecurrentProcess().length > 0" class="row">
        <div *ngFor="let proceso of randomList; let i = index">
            <div class="col">
                <app-botones [name]="proceso.name" [isLast]=" i === randomList.length - 1"></app-botones>
            </div>
        </div>
        <span>Hubo cambios, y el proceso "{{processService.getLastValueList()[randomNumberOne].name}}" ocupó el lugar del
            proceso "{{processService.getLastValueList()[randomNumberTwo].name}}." </span>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-outline-warning mt-3" (click)="aleatorio()">Cambiar orden</button>
        </div>
        <div class="col">
            <button class="btn btn-outline-warning mt-3" (click)="continue()" [disabled]="!isRandomed">Continuar</button>
        </div>
    </div>
</div>