.data-form {
    border: 2px solid rgb(147, 139, 139); 
    border-radius: 5px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.addProcess {
    display: flex !important;
    justify-content: center;
}