/* You can add global styles to this file, and also import other style files */
h2 {
    overflow: hidden;
}

img {
    /* En caso de querer centralizar una imagen más pequeña dentro del div */
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    height: 70%;
 }